<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802865472471-nm895n45smamug4lllphv5narjv25rhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802865472471-nm895n45smamug4lllphv5narjv25rhe</string>
	<key>API_KEY</key>
	<string>AIzaSyDAEk49J4Zimg6VIwakl4tg7KzxDCUSMv4</string>
	<key>GCM_SENDER_ID</key>
	<string>802865472471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.instamobile.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>realtime-ios-app-5d0f0</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-ios-app-5d0f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:802865472471:ios:790bbcf93b6fd873d6a192</string>
</dict>
</plist>
